.cases-container{
  display: flex;
  flex-flow: column;
  height: 100%;
}

.cases-view{
  background-color: white;
  overflow: auto;
  flex: 1 1 auto;
  height: 100%;
}

.caseview-top-level {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.caseview-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.caseview-left-nav{
  background-color: #f4f4f4;
}

.caseview-table{
  display: flex;
  flex-direction: row;
  flex: 2 1 auto;
  padding: 10px;
  width: 100%;
}

:host ::ng-deep .caseview-top-level {
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.33);
  background-color: #ffffff;
}

.center {
  margin: auto;
  width: 60%;
  height: 200px;
  padding: 10px;
  margin-bottom: 30%;
}

.no-data-available {
  color: #4A4A4A;
  font-family: Source Sans Pro;
  font-size: 18px;
  letter-spacing: 0.96px;
  line-height: 22px;
  text-align: center;
}

.no-data-available-click {
  color: #3873DD;
  font-family: Source Sans Pro;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.96px;
  line-height: 22px;
  text-align: center;
  letter: normal;
  cursor: pointer;
}

.img-center{
  margin: auto;
  width: 204px;
}

