<div>
    <div class="basic-info-container">
        <uxpl-form-field id="#nimbusDocName" fieldId="nimbusDocName" style="margin-top: 5px; margin-bottom: 5px;" label="Process document name" type="text" required="true" valid="true"
            [value]="document.name" (uxplChanged)="handleUpdate($event, 'name')"></uxpl-form-field>

        <div class='pl-form-field-container doc-location'>
            <div class="title">Document location</div>
            <nimbus-doc-location [document]="document" (locationSelected)="locationSelected($event)"></nimbus-doc-location>
        </div>
        
    </div>
</div>






