.settings-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.settings-left-nav {
    display: flex;
    width: 500px;
}

.settings-main {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    overflow: auto;
}

.tcs-settings-outer-pane {
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.33);
    background-color: #ffffff;
    border: solid 1px #dedede;
    overflow: hidden;
  }
  