<div class="settings-main">
  <div class="settings-title">
    <h1>Analytic Templates - Source (JSON Representation)</h1>
    <div class="settings-buttons">
      <uxpl-button type="secondary" (clicked)="handleReset()">Reset</uxpl-button>
      <uxpl-button disabled="{{saveDisabled}}" (clicked)="handleSave()">Save</uxpl-button>
    </div>
  </div>
  <div class="settings-container">
    <div *ngIf="showACE"
         ace-editor
         [text]="JSONText"
         [options]="aceEditorOptions"
         [readOnly]="false"
         [autoUpdateContent]="false"
         (textChanged)="handleUpdate($event)"
         style="margin-top: 20px; min-height: 93%; max-height: 93%; width:100%;"></div>
  </div>
</div>
