<div class="parse-options-csv-container">
  <div class="parse-options-csv-column">
    <div>
        File nane
    </div>
    <div>{{ datasource.filename }}</div>
    <div>Column separator</div>
    <uxpl-radio-group [value]="columnSeparator" (uxplChanged)="setColumnSeparator($event)">
      <uxpl-radio value=";">Semicolon</uxpl-radio>
      <uxpl-radio value=",">Comma</uxpl-radio>
      <uxpl-radio value="\t">Tab</uxpl-radio>
      <uxpl-radio value="other">
        <uxpl-form-field slot="content" label="Other: " type="text" valid [value]="customColumnSeparator"></uxpl-form-field>
      </uxpl-radio>
    </uxpl-radio-group>
  </div>
  <uxpl-select-input class="parse-options-csv-align" label="Encoding" [value]="data.encoding" [options]="encodingOptions" (uxplSelection)="handleEncodingSelection($event)"></uxpl-select-input>
  <uxpl-form-field class="parse-options-csv-align parse-options-csv-margin" label="Quote character" type="text" valid [value]="data.quoteChar" (uxplChanged)="handleUpdate($event, 'quoteChar')"></uxpl-form-field>
  <uxpl-form-field class="parse-options-csv-align parse-options-csv-margin" label="Escape character" type="text" valid [value]="data.escapeChar" (uxplChanged)="handleUpdate($event, 'escapeChar')"></uxpl-form-field>
  <uxpl-form-field class="parse-options-csv-align parse-options-csv-margin" label="Comments character" type="text" valid [value]="data.comments" (uxplChanged)="handleUpdate($event, 'comments')"></uxpl-form-field>
  <div class="parse-options-csv-align parse-options-csv-margin">
    <uxpl-checkbox [checked]="data.skipComments" (clicked)="onChecked('skipComments', $event.detail)">Skip comments in file</uxpl-checkbox>
    <uxpl-checkbox [checked]="data.skipEmptyLines" (clicked)="onChecked('skipEmptyLines', $event.detail)">Skip empty lines</uxpl-checkbox>
  </div>
  <uxpl-button (clicked)="clickedRefresh();">Refresh</uxpl-button>
</div>
