:host ::ng-deep .discover-mini-progress {

  position: relative;

  .mini-progress-overlay {
    position: absolute;
    top: 4px;
    left: 6px;
    .progress-running-icon {
      animation: rotate 2s linear infinite;
    }

    .progress-message {
      position: absolute;
      top: -2px;
      left: 20px;
      height: 21px;
      color: #212121;
      font-family: "Source Sans Pro";
      font-size: 14px;
      letter-spacing: 0;
      line-height: 21px;
      width: 300px;
    }    
  }

  .p-progressbar-determinate {
    height: 24px;
    border: 2px solid #E0F0F9;
    border-radius: 2px;
    background-color: white;
    .p-progressbar-value {
      border-radius: 2px 0 0 2px;
      background-color: #E0F0F9;
    }
  }

  @keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
