.map-row {
  display: flex;
  flex-direction: row;
}

.map-field {
  flex: 1 1 0%;
}

.map-field-margin {
  margin-left: 15px;
}

.parse-options-csv-date-format {
  display: flex;
  flex-direction: row;
  flex: 1 1 0%;
  align-items: center;
}

.parse-options-csv-date-element-format {
  flex-grow: 1;
}

.parse-options-csv-date-icon-format {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.parse-options-csv-date-icon-format .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: rgb(14, 45, 101);
  color: rgb(255, 255, 255);;
  text-align: left;
  padding: 15px;
  border-radius: 6px;
  margin: 15px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.parse-options-csv-date-icon-format:hover .tooltiptext {
  visibility: visible;
}

.map-preview-container {
  margin-top: 30px;
}

.table-element {
  padding: 1rem 1rem 1rem 0 !important;
  font-size: 12px;
}


.auto-map-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: -50px;
}

.auto-map-details:first-child > td {
  font-weight: bold;
  font-size: 14px;
}

