<div class="analytic-preview-container">
  <div class="analytic-preview-header">Analytics preview</div>
  <div class="analytic-preview">
    <div class="analytics-preview-left-nav">
      <uxpl-left-nav-multi class="left-nav" collapse [tabs]="previewMenu" (selected)="handleClick($event)"></uxpl-left-nav-multi>
    </div>
    <div style="width: 100%; height: 100%;">
      <spotfire-viewer *ngIf="location" #analysis
                       [url]="spotfireServer"
                       [path]="location"
                       [parameters]="analysisParameters"
                       [markingOn]="markingOn"
                       version="10.10"
                       (document)="setDocument($event)">
      </spotfire-viewer>
    </div>
  </div>
</div>
