
.analytic-preview-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /*border: 2px solid purple;*/
}

.analytic-preview-header{
  color: #212121;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 21px;
}

.analytic-preview{
  /*border: 2px solid blue;*/
  height: 100%;
  width: 100%;
  background-color: #FDD8EB;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.analytics-preview-left-nav{
  /*border: 2px solid aqua;*/
  background-color: #f4f4f4;
  z-index: 1;
}

