<!-- make case screen full height-->
<div class="box">
  <div *ngIf="config" class="rowC header">
    <tc-tibco-cloud-navbar *ngIf="!isLogin" class="tcla-cloud-navbar" [integratedHelp]="true"
                           [disableTimeout]="disableTimeout" [appName]="config.applicationTitle"
                           [rebrandConfig]='{ "backgroundColor": "#0E4F9E"}'
                           [contextHelp]="true" [customNavBarConfig]="navBarConfg" [logoUrl]="logoUrl"></tc-tibco-cloud-navbar>
  </div>
  <div class="rowC content tcs-starter-app-router-pane">
    <router-outlet></router-outlet>
  </div>
</div>

