.process-analysis-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* .process-analysis-container{
  background-color: #FFFFFF;
  margin-top: 15px;
}
 */

.search-icon {
  display: flex;
}

.process-analysis-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.process-analysis-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.process-analysis-button {
  display: flex;
  flex-direction: row;
}

.sshow {
  display: block;
}

.hhidden {
  display: none;
}

.mmodal {
  z-index: 1000;
  position: fixed;
  top: 30px;
  bottom: 0;
  left: 300px;
  width: 500px;
}

.process-analysis-wrapper{
  background-color: #FFFFFF;
  overflow: auto;
  height: 100%;
}

.icon-position {
  margin-bottom: -15px;
}

.img-center{
  margin: auto;
  width: 204px;
}

.center {
  margin: auto;
  margin-top: 20vh;
}

.nodata-msg {
  color: #4A4A4A;
  font-family: "Source Sans Pro";
  font-size: 18px;
  letter-spacing: 0.96px;
  line-height: 22px;
  text-align: center;
}

.loading-indicator {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


