<div class="analytics-dashboard-top-level">
  <div class="analytics-wrapper"> <!-- [hidden]="!fullSpotfireConfig.hasAnalytics" -->
    <uxpl-object-header [config]="objHeaderConfig" (back)="goProcessAnalysis()" (editDetail)="editTemplate()">
      <uxpl-button slot="navigation-content" style="width: 160px" icon="assets/images/svg/plus.svg"
                   (clicked)="showCreateCaseMenu()" [disabled]="disableInvestigation()">
        Investigation
        <uxpl-popup #popup id="popup" slot="popup" x-position="before" content-id="my-popup-content" max-width="400px"
                    max-height="450px">
          <create-case-menu #createcase id="my-popup-content" [caseMarking]="markedCases"
                            [variantMarking]="markedVariants" [investigationConfig]="investigationConfig"
                            (createInvestigationEvent)="createInv($event)"></create-case-menu>
        </uxpl-popup>
      </uxpl-button>
      <uxpl-button slot="navigation-content" id="#refresh" type="no-border" (click)="loadAnalytic()"
                   icon="assets/images/svg/pl-icon-refresh.svg">
        Refresh
      </uxpl-button>
    </uxpl-object-header>
    <div class="analytics-dashboard-wrapper" *ngIf="spotfireDXP">
      <div class="analytics-dashboard-left-nav">
        <uxpl-left-nav-multi #leftNav [tabs]="leftNavTabs" (selected)="handleClick($event)"
                             collapse></uxpl-left-nav-multi>
      </div>
      <div class="analytics-dashboard-analytics" #analysisContainer>
        <div style="width: 100%; height: 100%; position: relative;">
          <!-- <pre>{{filterIds | json}}</pre> -->
          <spotfire-viewer id='mySFViewer' #analysis
                           [url]="spotfireServer"
                           [path]="spotfireDXP"
                           [parameters]="analysisParameters"
                           [markingOn]="markingOn"
                           version="10.10"
                           (document)="setDocument($event)"
                           (markingEvent)="marking($event)"
                           [customization]="setSpotfireConfiguration()"
                           [linkedReportIds]="[FILTER_DIV]"
          >
          </spotfire-viewer>
        </div>
      </div>
    </div>
    <!-- <div *ngIf="analysisError && !selectTemplate">
      <uxpl-empty-state-system type="system error" message="Analytics server is not online" description="Please, contact your TIBCO Spotfire Administrator."></uxpl-empty-state-system>
    </div>
  </div> -->
    <div [hidden]="hideSelectProcess" class="center">
      <div class="img-center">
        <img width="204" [src]="noDataIconLocation">
      </div>
      <div class="no-data-available"><br></div>
      <div class="no-data-available" style="font-weight: bold">No process selected<br></div>
      <div class="no-data-available"><br></div>
      <div class="no-data-available">To get started, select <span class="no-data-available-click"
                                                                  (click)="selectAnalytic()">a process analysis</span>
      </div>
    </div>
  </div>

  <div *ngIf="spotfireDXP" [hidden]="!showFilterButton" class="filter-toggle"
       [ngClass]="{'collapsed': !showFilterPanel}"
       (click)="toggleFilterPanel($event)" (mouseenter)="hoverFilterButton(true)"
       (mouseleave)="hoverFilterButton(false)">
    <uxpl-icon class="filter-icon" icon="pl-icon-filter" width="24px" height="24px"
               [color]="getFilterButtonColor()"></uxpl-icon>
  </div>

  <sf-filter-panel #spotfireFilterPanel class="filter-panel" *ngIf="spotfireDXP"
                   [hidden]="!showFilterPanel" [filterIds]="filterIds" [filterConfig]="filterConfig"
                   (enableSFPointerEvents)="enableSFPointerEvents($event)" (openFilterPage)="openFPage($event)"
                   [width]="filterPanelSize.x" [height]="filterPanelSize.y" [top]="filterPanelTop"
                   [left]="filterPanelLeft">
  </sf-filter-panel>

</div>
