.parse-preview-container {
  margin-top: 30px;
}

:host ::ng-deep .p-datatable-wrapper {
  max-height: calc(90vh - 300px);
}

.loading-indicator {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
