.template-confirmation-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  height: 100%;
}

.template-info {
  padding-left: 25px;
  width: 40%;
}

.technical-specs {
  width: 50%;
}

.item-header {
  color: #212121;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 21px;
  min-width: 110px;
}

.header-location {
  vertical-align: top;
  width: 120px;
}

.item-detail {
  color: #212121;
  font-family: "Source Sans Pro";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  /*max-width: 200px;*/
  word-break: break-word;
  cursor: default;
}

.item-detail-dxp {
  color: #727272;
  font-family: "Source Sans Pro";
  font-size: 13px;
  letter-spacing: 0;
  line-height: 21px;
  display: flex;
  flex-direction: row;
}

.child-item {
  /*list-style-type: "\1F44D";*/
}

.detail-table {
  border-collapse: separate;
  border-spacing: 0px 8px;
}

.detail-row {
  /*padding-top: 18px;*/
}

.menu-item {
  color: #212121;
  font-family: "Source Sans Pro";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.spec-title {
  color: #212121;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}

.template-button-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.template-dxp-details {
  padding: 25px;
}

.template-dxp-input {
  margin-top: 30px;
  /*max-width: 300px;*/
  margin-bottom: 15px;
}

.label-header {
  color: #212121;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 21px;
}

.label-header-red {
  color: red;
}

.confirm {
  height: 21px;
  color: #727272;
  font-family: "Source Sans Pro";
  font-size: 13px;
  letter-spacing: 0;
  line-height: 21px;
}

.middle-divider {
  border: 1px solid #DEDEDE; /*  background-color: #DEDEDE; */
  width: 1px;
  margin-left: 48px;
  margin-right: 48px;
}

.copy-dxp {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.copy-dxp-switch {
  display: flex;
  flex-direction: row;
}

.copy-dxp-input {
  display: flex;
  flex-direction: column;
}

.copy-dxp-label {
  margin-top: 6px;
  color: #212121;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 21px;
}

.open-sf-icon {
  margin-left: 5px;
  color: #337ab7;
}

.open-sf-icon:hover {
  cursor: pointer;
  color: #005bcb;
}
