.admin-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.admin-left-nav {
  display: flex;
}

.admin-main {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
  overflow: auto;
  margin-left: 25px;
}

.tcs-admin-outer-pane {
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.33);
  background-color: #ffffff;
  border: solid 1px #dedede;
  overflow: hidden;
}

.tcs-admin-router-pane {
  width: 100%;
}
