.dates-viewport {
  height: 300px;
  width: 100%;
}

.data-row {
  height: 30px;
}

.columns-row, .data-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.indeterminate {
  background-color: rgb(248, 248, 211);
}

.valid {
  background-color: #E1F7EB;
  background-image: url("../../../../assets/images/svg/pl-icon-success.svg");
  background-size: 13.33px 13.33px;
  background-repeat: no-repeat;
  background-position: 95% center;
}

.invalid {
  background-color: #F9E1E3;
}

.notdate {
  background-color: #FFFFFF;
}

.loading-indicator {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.date-format-entry {
  display: flex;
  flex-direction: row;
  /*max-width: 350px;*/
  width: 100%;
}

.good-date-label {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.good-date-label-text {
  line-height: 21px;
  font-size: 14px;
  align-self: flex-end;
}

.good-date-label-icon {
  max-height: 20px;
  align-self: flex-end;
  margin-right: 6px;
}

.options-header {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.paging-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 16px;
}

.parse-options-csv-date-element-format {
  flex: 1;
  width: 340px;
  max-width: 340px;
  min-width: 340px;
}

::ng-deep .custom-table-css.p-datatable {
  .p-datatable-scrollable-header, .p-datatable-scrollable-footer {
    background-color: transparent;
  }
  
}

.table-footer-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 21px;
  color: #212121;
  font-family: "Source Sans Pro";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: 51px;

  .valid-rows-check {
    background-image: url("../../../../assets/images/svg/pl-icon-success.svg");
    height: 16.7px;
    width: 16.7px;
    background-size: 16.7px 16.7px;
    display: inline-block;
  }

  .footer-end {
    align-self: center;
    color: #727272;
  }
}



.best-match-selected {
  background-color: rgb(248, 248, 211);
}

.partialMatchRec:hover {
  cursor: pointer;
}

.warning-triangle {
  padding-right: 5px;
}

::ng-deep .datasource-csv-preview .p-component {
  font-size: 14px;
}

:host ::ng-deep .datasource-csv-preview {
  .index-col {
    width: 100px;
  }
  .date-col {
    width: 360px;
  }
}

.hint {
  height: 24px;
  width: 1005px;
  color: #212121;
  font-family: "Source Sans Pro";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  margin: 8px 0;
}

::ng-deep .uxpl-options-menu {
  position: fixed;
  width: 360px;
}

::ng-deep .refresh-btn::part(button) {
    min-width: 30px !important;
}

