<div>
    <div>
        <parse-options-csv *ngIf="datasource.inputType === 'csv'" [data]="data" [datasource]="datasource.file" (handlePreviewData)="refreshCSVPreview($event)"></parse-options-csv>
        <parse-options-tdv *ngIf="datasource.inputType === 'tdv'" [data]="data" [datasource]="datasource.tdv"  (handlePreviewData)="refreshCSVPreview($event)" (refresh)="refreshTDVPreview()"></parse-options-tdv>
    </div>
    <div class="parse-preview-container">
        <div>Data Preview</div>
        <div *ngIf="previewColumns?.length > 0">
            <tcpmg-generic-table [columnDefs]="previewColumns" [rowData]="previewData"
                [autoLayout]="false" [showSortIcon]="false"
                [showExpandButton]="false" [paginator]="false"
                [showCurrentPageReport]="false" [showFilterRow]="false"
            ></tcpmg-generic-table>
        </div>
    </div>
</div>
