<div class="settings-main">
  <div class="settings-title">
    <h1>Auto map settings</h1>
    <div class="settings-buttons">
      <uxpl-button type="secondary" (clicked)="handleReset()">Reset</uxpl-button>
      <uxpl-button (clicked)="handleSave()">Save</uxpl-button>
    </div>
  </div>
  <div class="settings-container">
    <div>
      <h2>Auto Mapping of Process Mining columns</h2>
      <div>
        <div class="settings-container ss-settings">
          <div class="ss-inner">
            <uxpl-button class="right-button" height="60px" (clicked)="getWords();">Get Words from<br> Previous Mappings
            </uxpl-button>
            <uxpl-form-field style="width: 80%" label="Words to find the Case ID" type="text" valid required="true"
                             [value]="discover.ssConfig.caseIdWords"
                             (uxplChanged)="handleUpdate($event, 'caseId')"></uxpl-form-field>
            <br>
            <uxpl-form-field style="width: 80%" label="Words to find the Resource" type="text" valid required="true"
                             [value]="discover.ssConfig.resourceWords"
                             (uxplChanged)="handleUpdate($event, 'resource')"></uxpl-form-field>
            <br>
            <uxpl-form-field style="width: 80%" label="Words to find the Activity Name" type="text" valid
                             required="true"
                             [value]="discover.ssConfig.activityWords"
                             (uxplChanged)="handleUpdate($event, 'activity')"></uxpl-form-field>
            <br>
            <uxpl-form-field style="width: 80%" label="Words to find the Start Time of the Activity" type="text" valid
                             required="true"
                             [value]="discover.ssConfig.startWords"
                             (uxplChanged)="handleUpdate($event, 'start')"></uxpl-form-field>
            <br>
            <uxpl-form-field style="width: 80%" label="Words to find the End Time of the Activity" type="text" valid
                             required="true"
                             [value]="discover.ssConfig.endWords"
                             (uxplChanged)="handleUpdate($event, 'end')"></uxpl-form-field>
            <br>
            <uxpl-form-field style="width: 80%" label="Threshold (all found mappings under this value will be ignored)" type="text" valid
                             required="true"
                             [value]="discover.ssConfig.threshold"
                             (uxplChanged)="handleUpdate($event, 'threshold')"></uxpl-form-field>
            <br>
            <div style='margin: 10px 2px 10px 3px'>
              <uxpl-switch-input style="padding: 3px" [checked]="discover.ssConfig.doAddAdditional"
                                 (uxplChange)="handleUpdate($event, 'doAddAdditional');">Select Additional Values (if selected all the other fields are automatically included in the analysis)
              </uxpl-switch-input>
            </div>
            <div style='margin: 10px 2px 10px 3px'>
              <uxpl-switch-input style="padding: 3px" [checked]="discover.ssConfig.debug"
                                 (uxplChange)="handleUpdate($event, 'debug');">Debug
              </uxpl-switch-input>
            </div>
          </div>
        </div>
        <br>
        <h2>Test Auto Mapping</h2>
        <div class="settings-container ss-settings">
          <div class="ss-inner">
             Use a comma separated list of headers (you can start typing to test): <br>
            <input style="width: 80%" [(ngModel)]="testValue" (input)="testChanged()">
            <uxpl-button class="right-button" (clicked)="testChanged();">Test Auto Mapping</uxpl-button>
            <div *ngIf="showTestResult">
              <br>
              Case ID Column: <b>{{headSSResult.caseIdColumn}}</b> ({{headSSResult.caseIdRating | number : '1.0-2'}}) or <b>{{(headSSResult.caseIdRating | number : '1.0-2') * 100}}%</b>
              <br>
              Resource Column: <b>{{headSSResult.resourceColumn}}</b>
              ({{headSSResult.resourceRating | number : '1.0-2'}}) or <b>{{(headSSResult.resourceRating | number : '1.0-2') * 100}}%</b>
              <br>
              Activity Column: <b>{{headSSResult.activityColumn}}</b>
              ({{headSSResult.activityRating | number : '1.0-2'}}) or <b>{{(headSSResult.activityRating | number : '1.0-2') * 100}}%</b>
              <br>
              Start Column: <b>{{headSSResult.startColumn}}</b> ({{headSSResult.startRating | number : '1.0-2'}}) or <b>{{(headSSResult.startRating | number : '1.0-2') * 100}}%</b>
              <br>
              End Column: <b>{{headSSResult.endColumn}}</b> ({{headSSResult.endRating | number : '1.0-2'}}) or <b>{{(headSSResult.endRating | number : '1.0-2') * 100}}%</b>
              <br>
              Other Fields: <b>{{headSSResult.otherFields}}</b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
