<div class="settings-main">
  <div class="settings-title">
    <h1>Auto map settings</h1>
    <div class="settings-buttons">
      <uxpl-button type="secondary" (clicked)="handleReset()">Reset</uxpl-button>
      <uxpl-button (clicked)="handleSave()">Save</uxpl-button>
    </div>
  </div>
  <div class="settings-container">
    <div>
      <h2>Auto Mapping of Process Mining columns</h2>
      <div>
        <div class="settings-container ss-settings">
          <div class="ss-inner">
            <uxpl-button class="right-button" height="60px" (clicked)="getWords();">Get Words from<br> Previous Mappings
            </uxpl-button>
            <uxpl-form-field style="width: 80%" label="Words to find the Case id" type="text" valid required="true"
                             [value]="discover?.ssConfig?.CaseID" (uxplChanged)="handleUpdate($event, 'CaseID')">
            </uxpl-form-field>
            <br>
            <uxpl-form-field style="width: 80%" label="Words to find the Actvitiy" type="text" valid required="true"
                             [value]="discover?.ssConfig?.Activity" (uxplChanged)="handleUpdate($event, 'Activity')">
            </uxpl-form-field>
            <br>
            <uxpl-form-field style="width: 80%" label="Words to find the Start time" type="text" valid required="true"
                             [value]="discover?.ssConfig?.Starttime" (uxplChanged)="handleUpdate($event, 'Starttime')">
            </uxpl-form-field>
            <br>
            <uxpl-form-field style="width: 80%" label="Words to find the End time" type="text" valid required="true"
                             [value]="discover?.ssConfig?.Endtime" (uxplChanged)="handleUpdate($event, 'Endtime')">
            </uxpl-form-field>
            <br>
            <uxpl-form-field style="width: 80%" label="Words to find the Scheduled start" type="text" valid required="true"
                             [value]="discover?.ssConfig?.Scheduledstart" (uxplChanged)="handleUpdate($event, 'Scheduledstart')">
            </uxpl-form-field>
            <br>
            <uxpl-form-field style="width: 80%" label="Words to find the Scheduled end" type="text" valid required="true"
                             [value]="discover?.ssConfig?.Scheduledend" (uxplChanged)="handleUpdate($event, 'Scheduledend')">
            </uxpl-form-field>
            <br>
            <uxpl-form-field style="width: 80%" label="Words to find the Requester" type="text" valid required="true"
                             [value]="discover?.ssConfig?.Requester" (uxplChanged)="handleUpdate($event, 'Requester')">
            </uxpl-form-field>
            <br>
            <uxpl-form-field style="width: 80%" label="Words to find the Department" type="text" valid required="true"
                             [value]="discover?.ssConfig?.Resourcegroup" (uxplChanged)="handleUpdate($event, 'Resourcegroup')">
            </uxpl-form-field>
            <br>
            <uxpl-form-field style="width: 80%" label="Words to find the Resource" type="text" valid required="true"
                             [value]="discover?.ssConfig?.Resource" (uxplChanged)="handleUpdate($event, 'Resource')">
            </uxpl-form-field>
            <br>
            <uxpl-form-field style="width: 80%" label="Threshold (all found mappings under this value will be ignored)" type="text" valid
                             required="true" [value]="discover?.ssConfig?.threshold" (uxplChanged)="handleUpdatethreshold($event)">
            </uxpl-form-field>
          </div>
        </div>
        <br>
        <h2>Test Auto Mapping</h2>
        <div class="settings-container ss-settings">
          <div class="ss-inner">
             Use a comma separated list of headers (you can start typing to test): <br>
            <input style="width: 80%" [(ngModel)]="testValue" (input)="testChanged()">
            <uxpl-button class="right-button" (clicked)="testChanged();">Test Auto Mapping</uxpl-button>
            <div *ngIf="showTestResult">
              <br>
              Case ID Column: <b>{{headSSResult.caseIdColumn}}</b> ({{headSSResult.caseIdRating | number : '1.0-2'}}) or <b>{{(headSSResult.caseIdRating | number : '1.0-2') * 100}}%</b>
              <br>
              Resource Column: <b>{{headSSResult.resourceColumn}}</b>
              ({{headSSResult.resourceRating | number : '1.0-2'}}) or <b>{{(headSSResult.resourceRating | number : '1.0-2') * 100}}%</b>
              <br>
              Activity Column: <b>{{headSSResult.activityColumn}}</b>
              ({{headSSResult.activityRating | number : '1.0-2'}}) or <b>{{(headSSResult.activityRating | number : '1.0-2') * 100}}%</b>
              <br>
              Start Column: <b>{{headSSResult.startColumn}}</b> ({{headSSResult.startRating | number : '1.0-2'}}) or <b>{{(headSSResult.startRating | number : '1.0-2') * 100}}%</b>
              <br>
              End Column: <b>{{headSSResult.endColumn}}</b> ({{headSSResult.endRating | number : '1.0-2'}}) or <b>{{(headSSResult.endRating | number : '1.0-2') * 100}}%</b>
              <br>
              Other Fields: <b>{{headSSResult.otherFields}}</b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
