.create-case-container{
  display: flex;
  flex-direction: column;
  margin: 20px 10px 10px 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 380px;
  overflow: auto;
}

.create-case-bottom-button-bar{
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.ct-radio {
  margin-top: 5px;
}

.radio-item {
  margin-top: 3px;
}

.additional-info {
  margin-left: 10px;
  color: #727272;
  font-family: "Source Sans Pro";
  font-size: 13px;
  /*letter-spacing: 0;*/
  /*line-height: 21px;*/
}
