.create-case-container{
  display: flex;
  flex-direction: column;
  margin: 20px 10px 10px 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 380px;
  overflow: auto;
}

.create-case-bottom-button-bar{
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: flex-end;
  width: 100%;
}
