<div class="create-case-container" id="my-popup-content">
  <uxpl-select-input #selectInput id="caseTypeInput" label="Case type" hint="Which kind of an issue is this case exhibiting?" (uxplChanged)="invInfo.type = $event.detail.value;"></uxpl-select-input>

  <uxpl-radio-group class="ct-radio" [value]="invInfo?.contextType" (uxplChanged)="contextTypeRadioChange($event)">
    <uxpl-radio class='radio-item' value="Case">Case<div class="additional-info">{{caseAdditionalInfo}}</div></uxpl-radio>
    <uxpl-radio class='radio-item' value="Variants">Variant<div class="additional-info">{{variantAdditionalInfo}}</div></uxpl-radio>
  </uxpl-radio-group>

  <uxpl-form-field (uxplChanged)="updateField($event.detail.value, 'summary');"  style="margin-bottom: 5px;" label="Summary of Investigation"
                   type="text"
                   hint="Briefly describe the Investigation"
                   valid required="true"></uxpl-form-field>
  <uxpl-textarea (uxplChanged)="updateField($event.detail.value, 'additionalDetails');" style="margin-top: 5px;" placeholder="Tell us more about this Investigation...">Additional details (Optional)</uxpl-textarea>
  <div class="create-case-bottom-button-bar">
    <uxpl-button (clicked)="createInvestigation.emit(null)" id="#cancelButton" type="no-border">Cancel</uxpl-button>
    <uxpl-button (clicked)="createInvestiagation()">Create</uxpl-button>
  </div>
</div>
