.file-selector-wrapper {
  height: 100%;
  overflow: auto;
  margin: 0px 20px;
}

.upload-file-button-container {
  margin-bottom: 15px
}

/* TODO: See if we can make file upload button primary, with white text and icon
.upload-file-button-container icon {
  color: white !important;
}
.upload-file-button-container upload-csv-link {
  color: white !important;
}
.upload-csv-link {
  color: white !important;
} */
