  .map-row {
    display: flex;
    flex-direction: row;
    min-height: 47px;
    height: 47px;
  }

  .map-field {
    flex: 1 1 0%;
  }

  .map-field-margin {
    margin-left: 15px;
  }

  uxpl-form-field {
    height: 30px;
  }
