.tdv-list-container {
  .top-row-empty {
    text-align: right;
  }
  
  .title-bar {
    display: flex;
    justify-content: space-between;
    .title-left {
      display: flex;
      .table-title {
        height: 24px;
        color: #212121;
        font-family: "Source Sans Pro";
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 24px;
        padding-top: 20px;
      }
    
      .search-container {
        display: flex;
        align-items: center;
        margin-left: 10px;
      }
    
      .search-icon {
        padding-top: 16px;
      }
    }
    .title-right {
      display: flex;
      &:hover {
        cursor: pointer;
      }
      .icon-container {
        display: inline;
        padding-top: 20px;
      }
      .upload-csv-link {
        margin-top: 20px;
        height: 21px;
        color: #1774E5;
        font-family: "Source Sans Pro";
        font-size: 14px;
        letter-spacing: 0;
        line-height: 21px;
      }
    }
  }
  
  tr.selected {
    background-color: #F3F4FB;
  }
  
  div.selected {
    height: 21px;
    color: #727272;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-style: italic;
    letter-spacing: 0;
    line-height: 21px;
  }

  .lastCol {
    text-align: right;
  
    .selected-col {
      padding-right: 8px;
      .inline-ele {
        display: inline-block;
      }
    }
  }
}

.center {
  margin: auto;
  margin-top: 10vh;

  .img-center{
    margin: auto;
    width: 204px;
  }

  .nodata-msg {
    color: #4A4A4A;
    font-family: "Source Sans Pro";
    font-size: 18px;
    letter-spacing: 0.96px;
    line-height: 22px;
    text-align: center;
  }
}

