<div class="settings-main">
  <div class="settings-title">
    <h1>Analytics</h1>
    <div class="settings-buttons">
      <uxpl-button type="secondary" (clicked)="handleReset()">Reset</uxpl-button>
      <uxpl-button  (clicked)="handleSave()">Save</uxpl-button>
    </div>
  </div>
  <div class="settings-container">
    <div>
      <h2>Template</h2>
      <div>
        <div>
          <uxpl-form-field class="flex-field flex-margin" label="Visual analytics template path" type="text" valid
                           required="true" [value]="discover.analytics.template"
                           (uxplChanged)="updateTemplate($event)"></uxpl-form-field>

          <div style="margin-top: 20px;">
            Pages menu configuration
            <div class="ace-container">
              <div #editor
                   ace-editor
                   [text]="getText()"
                   [options]="aceEditorOptions"
                   [readOnly]="false"
                   [autoUpdateContent]="false"
                   (textChanged)="updateConfigJSON($event)"
                   style="margin-top: 20px; min-height: 90%; max-height: 90%; width:100%;"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
