.metric-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.numeric-value,  .percent-value {
  color: #7451C0;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  text-align: right;
}

.increase, .decrease {
  display: flex;
  flex-direction: row;
}

.increase .numeric-value, .increase .percent-value {
  color: #309EA8;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
}

.metric-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.increase uxpl-icon {
  align-self: flex-start;
}

.decrease uxpl-icon {
  align-self: flex-end;
}

.difference {
  margin-right: 25px;
  flex: 1;
  justify-content: flex-end;
}

.analysis-metric-value {
  flex: 1;
}
