<!-- 
/*
* Copyright © 2020. TIBCO Software Inc.
* This file is subject to the license terms contained
* in the license file that is distributed with this file.
*/
 -->
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>Stencil Component Starter</title>

  <script type="module" src="/build/range-sider.esm.js"></script>
  <script nomodule src="/build/range-sider.js"></script>

</head>
<body>

  <div style="width: 300px;height:50px;padding:50px">
    <range-slider min=1 max=10 value=5 step=0.1 orientation="horizontal"></range-slider>
  </div>
  


  

</body>
</html>
