.fixActionRow {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.spacer {
    flex-grow: 1;
}

.dialog-content {
    height:100%;
}

.mat-dialog-content {
  max-height: initial;
}
