<div class="fixActionRow">
  <h1 *ngIf="!data.actionId" mat-dialog-title>Create new analysis</h1>
  <h1 *ngIf="data.actionId" mat-dialog-title>Modify analysis</h1>
  <div mat-dialog-content class="dialog-content">
    <uxpl-stepper [config]="config" (stepClickedIdx)="handleStepClick($event)">
      <div *ngIf="display('basic-info')" style="display: flex; flex-direction: column" slot="basic-info">
        <basic-info [data]="newAnalysis.basicInfo" (status)="handleStatus($event)"></basic-info>
      </div>
      <div *ngIf="display('datasource')" style="display: flex; flex-direction: column" slot="datasource">
        <datasource [data]="newAnalysis.datasource" [parse]="newAnalysis.parse" [previewColumns]="previewColumns" [previewData]="previewData" (status)="handleStatus($event)" (handlePreviewData)="handlePreviewData($event)"></datasource>
      </div>
      <div *ngIf="display('parse')" style="display: flex; flex-direction: column" slot="parse">
        <parse [data]="newAnalysis.parse" [datasource]="newAnalysis.datasource" [previewColumns]="previewColumns" [previewData]="previewData" (status)="handleStatus($event)" (handlePreviewData)="handlePreviewData($event)"></parse>
      </div>
      <div *ngIf="display('map')" style="display: flex; flex-direction: column" slot="map">
        <map [data]="newAnalysis.mapping" [datasource]="newAnalysis.datasource" [parse]="newAnalysis.parse" [columns]="newAnalysis.columns" [previewColumns]="previewColumns" [previewData]="previewData" (status)="handleStatus($event)"></map>
      </div>
      <div *ngIf="display('dates')" style="display: flex; flex-direction: column;" slot="dates">
          <date-parser [data]="newAnalysis?.mapping" [csvConfig]="newAnalysis?.datasource?.inputType === 'csv' ? newAnalysis?.datasource?.file : undefined" [parse]="newAnalysis?.parse" [tdvConfig]="newAnalysis?.datasource?.inputType === 'tdv' ? newAnalysis?.datasource?.tdv : undefined" (status)="handleStatus($event)"></date-parser>
      </div>
      <div *ngIf="display('confirmation')" style="display: flex; flex-direction: column" slot="confirmation">
        <confirmation [data]="newAnalysis"></confirmation>
      </div>
    </uxpl-stepper>
  </div>
  <!--div class="spacer"></div-->
  <div>
    <div mat-dialog-actions *ngIf="!caseReference">
      <uxpl-button type="secondary" (clicked)="onNoClick();">Cancel</uxpl-button>
      <uxpl-button [disabled]="handleDisablePrevButton()" [hidden]="hide('prev')" type="secondary" (clicked)="changeTab(-1);">Previous</uxpl-button>
      <uxpl-button [disabled]="handleDisableNextButton()" [hidden]="hide('next')" (clicked)="changeTab(1);">Next</uxpl-button>
      <uxpl-button *ngIf="!data.actionId" [hidden]="hide('finish')" (clicked)="createAnalysis();">Finish</uxpl-button>
      <uxpl-button *ngIf="data.actionId" [hidden]="hide('finish')" (clicked)="createAnalysis();">Save</uxpl-button>
    </div>
    <div mat-dialog-actions *ngIf="caseReference">
      <uxpl-button id="#closeButton" (clicked)="onNoClick();">Close</uxpl-button>
    </div>
  </div>
</div>
