.hint {
  height: 24px;
  color: #212121;
  font-family: "Source Sans Pro";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  margin: 8px 0;

  span {
    font-weight: 600;
    &.warning {
      background-image: url("../../../../assets/images/svg/pl-icon-warning-circle.svg");
      height: 20px;
      width: 20px;
      background-size: 20px 20px;
      vertical-align: text-bottom;
      display: inline-block;
    }
  }

  .warning-msg {
    display: inline-block;
  }
}

:host ::ng-deep .p-datatable {
  .p-datatable-thead > tr > th {
    position: sticky;
    top: 0;
    z-index: 2;
  }
}

.loading-indicator {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.preview-table {
  overflow: visible;
}

uxpl-select-input::part(optional-label) {
  display: none;
}
