.action-confirm {
  padding: 32px 16px 16px;

  .popup-text {
    color: #212121;
    font-family: "Source Sans Pro";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .popup-row {
    text-align: center;
    margin-top: 24px;
  }

}
