.action-confirm {
  padding: 32px 16px 16px;
  .popup-text {
    font-family: "Source Sans Pro";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    text-align: center;
  }

  .popup-row {
    text-align: center;
    margin-top: 24px;
  }

  // .delete-button {
  //   color: #FFFFFF;
  //   &.delete {
  //     background-color: #DB0000;
  //   }
  //   &.cancel {
  //     background-color: #1774E5;
  //   }
  // }
}