.data-container {
  display: flex;
  flex-direction: column;
}

.data-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.data-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.data-wrapper{
  background-color: #FFFFFF;
  overflow: auto;
  height: calc(100vh - 179px);
}

.img-center{
  margin: auto;
  width: 204px;
}

.center {
  margin: auto;
  margin-top: 20vh;
}

.nodata-msg {
  color: #4A4A4A;
  font-family: "Source Sans Pro";
  font-size: 18px;
  letter-spacing: 0.96px;
  line-height: 22px;
  text-align: center;
}

#delete-action-confirm {
  overflow: hidden;
}

.row-highlight {
  background-color: #ebebeb !important;
}

.preview-button::part(button) {
  background-color: #FFF;
}
