.help-side {
  display: flex;
  flex-direction: column;
  z-index: 10000;
}

uxpl-help-side-bar::part(help-page) {
  min-height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  /*box-shadow: 0 -10px 10px -3px #8e8e8e;*/
  z-index: 10000;
  /*box-shadow: none;*/
}

.help-version {
  position:absolute;
  bottom:0;
  right:0;
  height:20px;
  background-color: #FFF;
  font-size: 12px;
  color: rgb(0, 129, 203);
  font-weight: 400;
  line-height: 1.42857;
  margin-top: 0px;
  padding-left: 15px;
  padding-right: 5px;
  z-index: 10000;
  width: 394px;
  /*box-shadow: 0 -10px 10px -3px #8e8e8e;*/
}
