.cont-card {
  background-color: #f4f4f4;
  margin: 24px;
  border-radius: 10px;
  padding: 16px;
}

.cont-detail {
  padding-left: 15px;
  color: #212121;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 21px;
  text-align: left;
}

.cont-space{
  width: 5px;
}

.cell-header{
  text-align: right;
  width: 300px;
}
.cell-header-main{
  text-align: right;
  width: 125px;
  color: #212121;
  font-family: "Source Sans Pro";
  font-size: 10px;
  letter-spacing: 0;
  line-height: 13px;
  text-transform: uppercase;
}

.cell-row{
  /*border-bottom: 1px solid #757575;*/
}

.detail-cell {
  display: flex;
  flex-direction: row;
}

.error-icon {
  color: #1774E5;
  cursor: pointer;
  margin-left: 10px;
}

.ace-error {
  width: 100%;
  height: 100%;
  overflow: auto;
  border: 1px solid #CAD3DF;
  border-radius: 4px;
  /*background-color: #FAFAFA;*/
}

.myEditor {
  padding: 12px !important;
  background-color: #fafafa;
  color: #59677b;
}

.myEditor .ace_gutter {
  background: green;
  color: #BEBEBE
}

.error-container {
  margin-top: 24px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.error-details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.error-details-pane {
  margin-left: 30px;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.data-points {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  padding-bottom: 7px;
}

.data-point-row {
  display: flex;
  justify-content: space-between;
}

uxpl-data-point {
  min-height: 40px;
  display: flex;
  flex: 1;
}

uxpl-data-widget {
  flex: 1;
}

uxpl-data-widget::part(widget-container) {
  height: 100%;
}

uxpl-detail-pane::part(detail-pane-container) {
  padding-bottom: 24px;
}

.bottom-slot-content-container {
  display: flex;
  flex-direction: row;
}

.slot-button {
  color: #1774E5;
  font-family: 'Source Sans Pro';
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}

.metrics-container {
  display: flex;
  flex-direction: row;
}

.chart-container {
  display: flex;
  height: 100%;
  align-items: flex-end;
}

.chart-container-wrapper {
  display: flex;
  width: calc(100vw /3);
}

.disabled {
  color: #212121;
}

uxpl-data-point::part(data-point-value) {
  font-size: 20px;
}

uxpl-data-point::part(data-point-icon) {
  min-width: 1em;
}

.metrics-not-available {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.no-metrics-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #727272;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
}

.description-label {
  color: #727272;
  font-size: 10px;
  line-height: 13px;
}

.description-detail {
  color: #212121;
  font-size: 14px;
  line-height: 21px;
}
