<mat-card class="cont-card" *ngIf="processAnalysis">
  <mat-card-header>
    <mat-card-title>{{processAnalysis.data.name}} ({{processAnalysis.metadata.state}})</mat-card-title>
    <mat-card-subtitle>{{processAnalysis.data.description}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table style="width:100%;">
      <tr class="cell-row">
        <td class="cell-header-main">Created By</td>
        <td class="cont-detail">{{processAnalysis.metadata.createdBy}}</td>
        <td class="cont-space"></td>
        <td class="cell-header-main">Case ID</td>
        <td class="cont-detail">{{processAnalysis.data.mappings.caseId}}</td>
        <td class="cont-space"></td>
        <td class="cell-header-main">Start time</td>
        <td class="cont-detail">{{processAnalysis.data.mappings.startTime}}</td>
      </tr>
      <tr class="cell-row">
        <td class="cell-header-main">Created On</td>
        <td class="cont-detail">{{processAnalysis.metadata.createdOn | date: 'short'}}</td>
        <td class="cont-space"></td>
        <td class="cell-header-main">Activity</td>
        <td class="cont-detail">{{processAnalysis.data.mappings.activity}}</td>
        <td class="cont-space"></td>
        <td class="cell-header-main">End time</td>
        <td class="cont-detail">{{processAnalysis.data.mappings.endTime}}</td>
      </tr>
      <tr class="cell-row">
        <td class="cell-header-main">Template</td>
        <td class="cont-detail">{{templateName}}</td>
        <td class="cont-space"></td>
        <td class="cell-header-main">Resource</td>
        <td class="cont-detail">{{processAnalysis.data.mappings.resource}}</td>
        <td class="cont-space"></td>
        <td class="cell-header-main">Scheduled start time</td>
        <td class="cont-detail">{{processAnalysis.data.mappings.scheduledStart}}</td>
      </tr>
      <tr class="cell-row">
        <td class="cell-header-main">ID</td>
        <td class="cont-detail">
          <div class="detail-cell">
            <div [matTooltip]="processAnalysis.id" matTooltipClass="tTip">{{getShortMessage(processAnalysis.id)}} </div>
            <uxpl-icon class="error-icon" height="15px" width="15px" icon="pl-icon-copy"
                       matTooltip="copy id to clipboard" matTooltipClass="tTip"
                       (click)="copyToClipBoard('Id', processAnalysis.id)"></uxpl-icon>
          </div>
        </td>
        <td class="cont-space"></td>
        <td class="cell-header-main">Department</td>
        <td class="cont-detail">{{processAnalysis.data.mappings.resourceGroup}}</td>
        <td class="cont-space"></td>
        <td class="cell-header-main">Scheduled end time</td>
        <td class="cont-detail">{{processAnalysis.data.mappings.scheduledEnd}}</td>
      </tr>
      <tr class="cell-row">
        <td class="cell-header-main" *ngIf="processAnalysis.metadata.message">Error</td>
        <td class="cont-detail" *ngIf="processAnalysis.metadata.message">
          <div class="detail-cell">{{getShortMessage(processAnalysis.metadata.message)}}
            <uxpl-icon *ngIf="!showError" class="error-icon" height="18px" width="18px" icon="pl-icon-caret-down"
                       matTooltip="show error details" matTooltipClass="tTip" (click)="showError = true;"></uxpl-icon>
            <uxpl-icon *ngIf="showError" class="error-icon" height="18px" width="18px" icon="pl-icon-caret-up"
                       matTooltip="hide error details" matTooltipClass="tTip" (click)="showError = false"></uxpl-icon>
            <uxpl-icon class="error-icon" height="15px" width="15px" icon="pl-icon-copy"
                       matTooltip="copy error to clipboard" matTooltipClass="tTip"
                       (click)="copyToClipBoard('Error',this.processAnalysis.metadata.message)"></uxpl-icon>
          </div>
        </td>
        <td class="cell-header-main" *ngIf="!processAnalysis.metadata.message"></td>
        <td class="cont-detail" *ngIf="!processAnalysis.metadata.message"></td>
        <td class="cont-space"></td>
        <td class="cell-header-main">Requester</td>
        <td class="cont-detail">{{processAnalysis.data.mappings.requester}}</td>
        <td class="cont-space"></td>
        <td class="cell-header-main">Other attributes</td>
        <td class="cont-detail">{{processAnalysis.data.mappings.otherAttributes}}</td>
      </tr>
    </table>
    <div *ngIf="showError" class="error-container">
      <img height=75 width=75 src="{{errorIcon}}" onerror="this.style.display='none'">
      <div class="error-details-pane">
        <h3>Error Details:</h3>
        <error-details [errorMessage]="processAnalysis.metadata.message"></error-details>
      </div>
    </div>
    <!-- <pre>{{progress | json}}</pre> -->
    <!-- <pre>{{processAnalysis | json}}</pre> -->
    <progress-screen *ngIf="progress" [message1]="progress?.message" [showImageLeft]="true"
                     [percentage]="progress?.percentage" [status]="progress?.status"></progress-screen>
    <progress-screen *ngIf="progressSet && !progress" [message1]="'Process mining'" [showImageLeft]="true"
                     [percentage]="100" [status]="'Process mining done...'"></progress-screen>
  </mat-card-content>
</mat-card>



