<div>
  <div class="datasource-tdv-select-container">
    <uxpl-select-input class="datasource-tdv-select-margin  datasource-tdv-select-grow" label="Site" [value]="selectedSite" [options]="optionSites" (uxplSelection)="handleSelection($event, 'site')"></uxpl-select-input>
    <uxpl-select-input class="datasource-tdv-select-margin  datasource-tdv-select-grow" label="Database" [value]="selectedDatabase" [options]="optionDatabases" (uxplSelection)="handleSelection($event, 'database')"></uxpl-select-input>
    <uxpl-select-input class="datasource-tdv-select-grow" label="Table" [value]="selectedTable" [options]="optionTables" (uxplSelection)="handleSelection($event, 'table')"></uxpl-select-input>
  </div>
</div>