<div class="basic-info-container">
    <uxpl-form-field id="#analysisName" fieldId="analysisName" style="margin-top: 5px; margin-bottom: 5px;" label="Analysis name" type="text" valid required="true" [value]="data.analysisName" (uxplChanged)="handleUpdate($event, 'analysisName')"></uxpl-form-field>    
    <uxpl-form-field id="#analysisDescription" fieldId="analysisDescription" style="margin-top: 5px; margin-bottom: 5px;" label="Analysis description" type="text" valid required="true" [value]="data.analysisDescription" (uxplChanged)="handleUpdate($event, 'analysisDescription')"></uxpl-form-field>
</div>





