<div class="page-container data-container">
  <div class="data-title-container">
    <div class="data-title">
      <div class="page-title">Data</div>
      <uxpl-form-field style="margin-bottom:15px;" type="text" valid required="true" value=""
                       (uxplChanged)="handleSearch($event);"></uxpl-form-field>
      <uxpl-icon class="search-icon" icon="pl-icon-search" width="24px" height="24px"></uxpl-icon>
    </div>
    <div>
      <uxpl-button (clicked)="file.click();">Upload</uxpl-button>
      <input type="file" #file style="display:none" (change)="handleUpload($event.target.files)">
      <uxpl-button type="secondary" icon="assets/images/svg/pl-icon-refresh.svg" (clicked)="refresh()" type="no-border">
        Refresh
      </uxpl-button>
    </div>
  </div>
  <div class="data-wrapper">
    <p-table #dt [value]="documents" [globalFilterFields]="['name', 'fileSize', 'authorDetails', 'creationDate']"
      dataKey="name" id="pTable" styleClass="custom-table-css" [rowHover]="false"
      [rows]="15" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [filterDelay]="0">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th class="top-row">File name</th>
          <th class="top-row">Size</th>
          <th class="top-row">Created by</th>
          <th class="top-row">Created on</th>
          <th style="width: 50px" class="top-row-empty"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-document let-index>
        <tr class="rowhover" id="toHightlight">
          <td class="no-padding data-row hovereffect"><div [innerHTML]="document.name | highlight: searchTerm : 'Multi-Match'"></div></td>
          <td class="no-padding data-row hovereffect"><div [innerHTML]="document.fileSize | highlight: searchTerm : 'Multi-Match'"></div></td>
          <td class="no-padding data-row hovereffect"><div [innerHTML]="document.authorDetails | highlight: searchTerm : 'Multi-Match'"></div></td>
          <td class="no-padding data-row hovereffect"><div [innerHTML]="document.creationDate | highlight: searchTerm : 'Multi-Match'"></div></td>
          <td class="no-padding">
            <div class="button-container " >
              <uxpl-options-menu [xPosition]="'before'" [yPosition]="'after'" [iconHeight]="'15px'" [iconWidth]="'15px'" [config]="fileOptions" (selected)="optionSelect($event, index)"></uxpl-options-menu>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
